{% extends "base.html" %}

{% block title %}Database Query{% endblock %}
{% block extra_css %}
  <style>
    .chat-box {
      max-height: 500px;
      overflow-y: scroll;
      margin-top: 15px;
    }

    .chat-message {
      margin-bottom: 20px;
    }

    .chat-message-user {
      display: flex;
      justify-content: end;
      color: blue;
      font-size: large;
      padding-right: 10px;
    }

    .chat-message-bot {
      color: red;
      font-size: large;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1>Database Query</h1>
    </div>
  </div>
  <form id="promptForm" action="ask-query" method="POST">
    <div class="form-group">
      <label for="prompt">Ask your database a question</label>
      <input type="text" name="prompt" class="form-control" id="prompt" aria-describedby="promptInput">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="col-sm-12">
    <div class="chat-box" id="chatBox"></div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    baseUrl = window.location.origin
    $(document).ready(function () {
      $("#promptForm").submit(function (event) {
        event.preventDefault();
        var prompt = $("#prompt").val();

        addUserMessage(prompt);

        var formData = {
          prompt: $("#prompt").val(),
        };

        $.ajax({
          type: "POST",
          url: `${baseUrl}/ask-query`,
          data: JSON.stringify(formData),
          contentType:"application/json",
          dataType: "json",
          encode: true,
        }).done(function (data) {
          addBotMessage(data.query_result);
          clearPromptInput();
        });
      });
    });
    
    function addUserMessage(prompt) {
      var fullMessage = `You: ${prompt}`;
      var chatBox = $("#chatBox")

      chatBox.append(`<div class="chat-message chat-message-user">${fullMessage}</div>`);

      chatBox.scrollTop(chatBox.prop("scrollHeight"));
    }

    function addBotMessage(answer) {
      var fullMessage = `Bot: ${answer}`;
      var chatBox = $("#chatBox")

      chatBox.append(`<div class="chat-message chat-message-bot">${fullMessage}</div>`);

      chatBox.scrollTop(chatBox.prop("scrollHeight"));
    }

    function clearPromptInput() {
      $("#prompt").val('')
    }
  </script>
{% endblock %}
